<% layout('layout') -%>

<div class="jumbotron">
    <h1>Performance Query</h1>
    <p class="lead">Performance Query Demonstration.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h2>Query</h2>
        <!-- <form method="POST" action="/campaigns/{{campaign.id}}"><div class="form-horizontal"> -->
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-md-4" for="conversation_id">Conversation Id</label>
            <input type="text" id="conversation_id" size="36" value=""/>
            <!-- <input type="text" id="conversation_id" size="36" value="22f3f8db-73c7-4089-a45a-b8a2ac2d4823"/> -->
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md4">
              <button id="query_performance" class="btn btn-default logged_in_action" rel="conversation_id" data-processing-text="Searching..." data-processed-text="Done">
                <span id="text" class="logged_in">Search</span>&nbsp;&nbsp;<i id="spinner" class="fa fa-refresh fa-spin logged_in"  style="font-size:18px; display: none;"></i>
                <span class="logged_out"><span class='glyphicon glyphicon-warning-sign'></span> Login!</span>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="results" style="display: none;">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title text-center">Internal Participant</h3></div>
          <div class="panel-body text-center">
            <p><img class="internal_participant_photo img-circle" src="/images/agent.png" width="96" height="96"></p>
            <p><span class="internal_participant_name"></span></p>
            <p><span class="internal_participant_address"></span></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title text-center">External Participant</h3></div>
          <div class="panel-body text-center">
            <p><img class="external_participant_photo img-circle" src="/images/caller.png" width="96" height="96"></p>
            <p><span class="external_participant_name"></span></p>
            <p><span class="external_participant_address"></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="details" class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#t1" data-toggle="tab">Details</a></li>
          <li role="presentation"               ><a href="#t2" data-toggle="tab">Timeline</a></li>
          <li role="presentation"               ><a href="#t3" data-toggle="tab">Evaluation Summary</a></li>
          <li role="presentation"               ><a href="#t4" data-toggle="tab">Audit Trail</a></li>
        </ul>
        <div class="tab-content clearfix">
          <div id="t1" class="tab-pane fade in active panel panel-default">
            <dl class="dl-horizontal">
              <dt>Interaction Type</dt><dd class="interaction_type"></dd>
              <dt>Start Time</dt><dd class="interaction_starttime"></dd>
              <dt>End Time</dt><dd class="interaction_endtime"></dd>
              <dt>Direction</dt><dd class="interaction_direction"></dd>
              <dt>Duration</dt><dd class="interaction_duration"></dd>
              <dt>Internal Participant(s)</dt><dd class="internal_participant_name"></dd>
              <dt>External Participant(s)</dt><dd class="external_participant_name"></dd>
            </dl>
          </div>
          <div id="t2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content</p>
          </div>
          <div id="t3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Some content</p>
          </div>
          <div id="t4" class="tab-pane fade">
            <h3>Menu 4</h3>
            <p>Some content</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function initialize_view()
{
  console.log('Hiding results');
  $('#results').hide();
  query_performance = new StateButton('query_performance', on_click_query_performance);

  query_performance.initialize();
}

function on_click_query_performance(event)
{
  const AnalyticsApi = new purecloud.platform.AnalyticsApi(purecloud_session);

  console.log("Query Click Event!");
  event.preventDefault();          // Prevent link from firing up

  var interval_length   = 3600 * 24 * 7; // 1 week-ish
  var interval_stop     = new Date(); interval_stop.setMinutes(0); interval_stop.setSeconds(0); interval_stop.setMilliseconds(0);
  var interval_start    = new Date(interval_stop); interval_start.setSeconds(interval_start.getSeconds() - interval_length);
  var conversation_id   = $('#conversation_id').val();

  console.log('conversation id: %s', conversation_id);
  if (conversation_id) {
    console.log('Querying analytics with id: %s', conversation_id);
    query_performance.processing();
    AnalyticsApi.postConversationsDetailsQuery({
      interval: interval_start.toISOString() + '/' + interval_stop.toISOString(),
      order:    'asc',
      orderBy:  'conversationStart',
      paging:   { pageSize: 25, pageNumber: 1 },
      //aggregations: [],
      //evaluationFilters: [],
      //segmentFilters: [],
      conversationFilters: [{
          type: 'or',
          'predicates': [ { type: 'dimension', dimension: 'conversationId', value: conversation_id, } ]
      }]
    }).then(function(results) {
      const UsersApi = new purecloud.platform.UsersApi(purecloud_session);

      query_performance.processed();
      console.log("Got results: ", results);
      $('#results').show();
      var conversation = results.conversations[0];

      var internal_participant = conversation.participants.find(function(participant) { return participant.purpose === 'agent';    });
      var external_participant = conversation.participants.find(function(participant) { return participant.purpose === 'customer'; });

      //expand: routingStatus, presence, conversationSummary, outOfOffice, geolocation, station, authorization, profileSkills
      UsersApi.getUserId(internal_participant.userId)
        .then(function(user) {
          console.log("User %m", user);
          var image = user.images.find(function(image) { return image.resolution === 'x96'; });

          if (image) {
            console.log("Displaying image: %s", image.imageUri);
            $('.internal_participant_photo').attr('src', image.imageUri);
          }
          $('.internal_participant_photo').attr('alt', user.name);
          $('.internal_participant_name').text(user.name);
          $('.internal_participant_address').text(internal_participant.sessions[0].dnis.substring(0, 20) + '...');
        });
      

      $('.external_participant_name').text(external_participant.participantName);
      $('.external_participant_address').text(external_participant.sessions[0].ani);

      var starttime = endtime = new Date(Date.parse(conversation.conversationStart));

      conversation.participants.forEach(function(participant) {
        participant.sessions.forEach(function(session) {
          session.segments.forEach(function(segment) {
            var segmentEnd = new Date(Date.parse(segment.segmentEnd));
            if (segmentEnd > endtime) {
              console.log("EndTime: %s", endtime);
              endtime = segmentEnd;
            }
          });
        });
      });
      $('.interaction_type').text(external_participant.sessions[0].mediaType);
      $('.interaction_starttime').text(starttime);
      $('.interaction_endtime').text(endtime);
      $('.interaction_direction').text(external_participant.sessions[0].direction);
      $('.interaction_duration').text(endtime - starttime);
    }).catch(function(err) {
      query_performance.processed();
      render_error(err);
    });
  } else {
    render_error('Conversation id cannot be empty!');
  }
}
</script>
